.app {
    max-width: 300px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    
  }

.app h1 {
  text-align: center;
}

.app h2 {
  text-align: center;
  font-size: 15px;
}

.background {
  
  width: 100vw;
  height: 100vh;
  
}