@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
body {
  
  color: #cbd5e1;
}
*{
  box-sizing: border-box;
  font-family: 'Scope One' , sans-serif;
  color: #cbd5e1;
}

